* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  //color: #7D1411D,#FF41E27;
  background: -webkit-linear-gradient(#7d141d, #ff1e27);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
body {
  font-family: "Poppins", sans-serif;
}

h4 {
  font-weight: 400;
  color: black;
}
.App {
  transition: all 0.5s ease;
}
.library-active {
  margin-left: 15%;
}

@import "./song";
@import "./player";
@import "./library.scss";
@import "./nav";
